*{
    font-family: 'Nunito', sans-serif;
}
.topnav{
    display: flex;
    flex-direction: row;
}
.tab{
    color: #E30B5D;
}
.middle{
    display: flex;
    flex-direction: row;
}
.button{
    background-color:  #EC4067;
    color: white;
}
.ticket{
    margin-left: 400px;
    display: flex;
    flex-direction: row;
}
.middle{
    margin-left: 50px;
}
.middle{
    margin-top: 80px;
}
.desk{
    color: #E30B5D;
}
.lin{
    margin-left: 50px;
}
.tin{
    margin-left: 130px;
}
.tin{
    margin-bottom: 350px;
}
.lin{
    margin-top: 100px;
}
.tin{
    margin-top: -30px;
}
.stories{
    margin-top: -310px;
}
.stories{
    margin-left: 50px;
}
.orient{
    margin-left: 600px;
}
.orient{
    margin-top: -200px;
}
.orient{
    margin-top: -100px;
}
.orient{
    margin-top: -250px;
}
.board{
    margin-top: 200px;
}
.board{
    margin-left: 50px;
}
.igt{
    margin-left: 450px;
}
.igt{
    margin-top: -200px;
}
.mit{
    margin-top: 250px;
}
.grad{
    margin-left: 50px;
}
.grad{
    display: flex;
    flex-direction: row;
}
.grad{
    margin-top: 50px;
}
.party{
    margin-left: 50px;
}
.tech{
    display: flex;
    flex-direction: row;
}
.tech{
    margin-left: 50px;
}
.tun{
    margin-left: 10px;
}
.webdv{
    display: flex;
    flex-direction: row;
}
.webdv{
    margin-left: 50px;
}
.font{
    font-size: smaller;
}
.pad{
    float: left;
    padding: 5px;
}
.last{
    margin-left: 50px;
}
.pj{
    display: flex;
}
.lib{
    margin-left: 10px;
}
.lib{
    margin-top: 30px;
}
.bik{
    margin-left: 400px;
}
.bik{
    margin-top: -200px;
}
.go{
    margin-left: 50px;
}
.won{
    margin-top: -80px;
}
.button{
    border-style: none;
}
.jab{
    border-style: none;
}
.jab{
    margin-left: 5px;
    padding: 10px;
}
.button{
    padding: 10px;
    border-radius: 4px;
}
.ask{
    border-style: none;
    background-color:  #EC4067;
    color: white;
    border-radius: 4px;
}
.als{
    border-style: none;
    background-color:  #EC4067;
    color: white;
    border-radius: 4px;
}
.las{
    border-style: none;
    background-color:  #EC4067;
    color: white;
    border-radius: 4px;
}
.ak{
    border-style: none;
    background-color:  #EC4067;
    color: white;
    border-radius: 4px;
}
.ticket{
    float: left;
    padding: 25px;
}
.jab{
    color: #EC4067;
    outline-style: auto;
}
.cool{
    color: #E30B5D;
}
.still{
    color: #E30B5D;
}
.tech{
    margin-top: 50px;
}
.last{
    margin-top: 70px;
}
.go{
    margin-top: 50px;
}
.ha{
    margin-left: 15px;
}
.hb{
    margin-left: 15px;
}
.hc{
    margin-left: 15px;
}
.buton{
    margin-left: 15px;
    margin-top: -10px;
}
.buton{
    background-color: #EC4067;
    color: white;
    border-style: none;
    padding: 10px;
    border-radius: 4px;
    width: 80px;
}
.desk{
    margin-left: 20px;
}
.jab{
    width: 100px;
}
.jet{
    margin-top: 30px;
}
.orient{
    margin-left: 480px;
}
.igt{
    margin-left: 370px;
}
.col{
    color: #EC4067;
}